<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="arg1" default="$(find camera_lidar_calibration)/../../data/photo/4.bmp"/>
    <!-- roslaunch camera_lidar_calibration cornerPhoto.launch arg1:=/home/yijiankeji/data/photo/5.bmp -->
    <param name="intrinsic_path"    value="$(find camera_lidar_calibration)/../../data/parameters/intrinsic_livox.txt" />  <!-- intrinsic file -->
     <param name="input_photo_path"  value="$(arg arg1)" /> <!-- photo to find the corner -->
    <param name="ouput_path"        value="$(find camera_lidar_calibration)/../../data/corner_photo.txt" />  <!-- file to save the photo corner -->
    
    <node pkg="camera_lidar_calibration" name="cornerPhoto" type="cornerPhoto" output="screen"></node>

</launch>
